body {
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(to right, rgb(0, 182, 97), rgb(119, 255, 137))
}
.title {
    font-size: 72px;
    color: rgb(255, 255, 255);
    position: relative;
    transform: translate(40%, 5%);
}
section {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    width: 900px;
    height: max-content;
    position: relative;
    left: 50%;
    transform: translate(-50%, -10%);
}
.cartitems {
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    height: 225px;
    width: 400px;
}
.cartitems p {
    padding-bottom: 10px;
    border-bottom: 1px dashed lightslategray;
}