body {
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(to right, rgb(0, 182, 97), rgb(119, 255, 137))
}
.title {
    font-size: 72px;
    color: rgb(255, 255, 255);
    text-align: center;
}
section {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    width: 900px;
    height: max-content;
    margin-left:auto;
    margin-right:auto;
}
.add2cart {
    display:flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}
.cartitems {
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    height: 255px;
    width: 400px;
}
.cartitems p {
    padding-bottom: 10px;
    border-bottom: 1px dashed lightslategray;
}
button {
    border: none;
    border-radius: 2px;
    padding: 2px 5px;
    background: linear-gradient(rgb(255, 255, 255),rgb(212, 212, 212));
}